@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

fieldset {
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px rgb(190, 190, 190);
}

fieldset > * {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 1rem;
}

fieldset > div > div {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

input {
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
    font-size: 1rem;
    width: 12rem;
    
}

input:focus {
    outline: 1px solid skyblue;
    box-shadow: 0 0 4px grey;
}

label {
    font-size: .8rem;
    color: rgb(40, 40, 40);
    margin-bottom: 2px;
}

.button {
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgb(40, 40, 40);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem;
    padding: 12px 44px;
}

.customer-message {
    font-size: large;
    font-weight: bold;
    margin: 3.5rem 3rem;
}

.logo {
    height: 6rem;
}

.log-in-message {
    margin: .5rem 2rem 2rem;
}

.odin {
    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: white;
}

.section-one {
    background-image: url(./img/sign_up_bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    min-width: 280px;
}

.section-one > div {
    background: rgba(0, 0, 0, .4);
    margin-top: 18vh;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two {
    background-color: #f9fafb;
    font-family: -apple-system, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 60%;
}
